# Entorno virtual
.venv/
env/
venv/

# Archivos y carpetas de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.tmp
*.bak

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos específicos del proyecto
resultados_pdf/
*.xlsx
