# Entorno virtual
.venv/
venv/
ENV/
env/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log

# Archivos de bases de datos locales
*.sqlite3
*.db
database.db
usuarios.db
pacientes.db

# Archivos generados
*.bak
*.tmp

# PDFs y listados generados
/resultados_pdf/*.pdf
/listados_excel/*.xlsx

# Archivos de configuración específicos del entorno
*.env

# Archivos de configuración de VSCode
.vscode/

# Archivos de dependencias específicos
Pipfile
Pipfile.lock

# Archivos de pruebas o backups
*.old
*.backup
